twitterdemo/target/classes/twitterdemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:twitter="http://www.mulesoft.org/schema/mule/twitter" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/twitter http://www.mulesoft.org/schema/mule/twitter/current/mule-twitter.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <file:connector name="File" autoDelete="true" outputAppend="true" streaming="true" validateConnections="true" doc:name="File"/>
    <flow name="twitterdemoFlow">
        <twitter:user-stream config-ref="TwitterConfiguration" doc:name="Twitter (Streaming)">
        <twitter:keywords>
                <twitter:keyword>901265454903296002</twitter:keyword>
            </twitter:keywords>
            </twitter:user-stream>
        <set-variable variableName="Retweet" value="#[payload.payload.retweet]" doc:name="Retweet"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.Retweet==&quot;true&quot;]">
                <dw:transform-message doc:name="Retweet" metadata:id="0a173a0d-b0b4-4dc9-9b96-92e98bb04c06">
                    <dw:input-payload mimeType="application/json"/>
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/csv
separator=",", header=false
---
[{
	twits: "false",
	tweetdate: (payload.payload.createdAt as :number/1000 ) as :datetime  as :string {format:"yyyy/dd/MM"},
	retwits: payload.payload.retweet as :string,
	fromhandle: payload.payload.text,
	retweetdate: (payload.payload.retweetedStatus.createdAt as :number/1000 ) as :datetime  as :string {format:"yyyy/dd/MM"},
	timezone: payload.payload.retweetedStatus.user.timeZone
	
}]]]></dw:set-payload>
                </dw:transform-message>
                <logger message="#[payload]" level="INFO" doc:name="Logger"/>
            </when>
            <otherwise>
                <logger message="no retweet" level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
        <file:outbound-endpoint path="src/main/resources/outputDir" outputPattern="Tweets.csv" responseTimeout="10000" doc:name="File" connector-ref="File"/>
    </flow>
</mule>
